DB_HOST=postgres
DB_DRIVER=postgres
DB_USER=postgres
DB_PASSWORD=
DB_NAME=tasks
DB_PORT=5432
DB_DOWN=false

TEST_DB_HOST=postgres_test
TEST_DB_DRIVER=postgres
TEST_DB_USER=postgres
TEST_DB_PASSWORD=
TEST_DB_NAME=tasks_test
TEST_DB_PORT=5432
TEST_DB_DOWN=true